version: '3.8'

services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    build:
      context: .
      dockerfile: docker/api.Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - APP_ENV=dev
      - DEBUG=true
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - MONGO_URI=mongodb+srv://sonuv:Sonu12345@cluster0.makyp.mongodb.net/
      - MONGO_DB_NAME=pdf-summarizer
      - BACKEND_STATUS_URL=http://host.docker.internal:5000/api/documents/upload-status/update
      - REPORT_CREATE_URL=http://host.docker.internal:5000/api/reports/create-report
      - REPORT_STATUS_UPDATE_URL=http://host.docker.internal:5000/api/reports/report-status/update
      - CHAT_STATUS_UPDATE_URL=http://host.docker.internal:5000/api/chats/chat-status/update
      - SUMMARY_CREATE_URL=http://host.docker.internal:5000/api/summaries/create
      - SUMMARY_STATUS_UPDATE_URL=http://host.docker.internal:5000/api/summaries/summary-status/update
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      redis:
        condition: service_healthy
    restart: unless-stopped

  worker:
    build:
      context: .
      dockerfile: docker/worker.Dockerfile
    env_file:
      - .env
    environment:
      - APP_ENV=dev
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - MONGO_URI=mongodb+srv://sonuv:Sonu12345@cluster0.makyp.mongodb.net/
      - MONGO_DB_NAME=pdf-summarizer
      - LOG_LEVEL=INFO
      - BACKEND_STATUS_URL=http://host.docker.internal:5000/api/documents/upload-status/update
      - REPORT_CREATE_URL=http://host.docker.internal:5000/api/reports/create-report
      - REPORT_STATUS_UPDATE_URL=http://host.docker.internal:5000/api/reports/report-status/update
      - CHAT_STATUS_UPDATE_URL=http://host.docker.internal:5000/api/chats/chat-status/update
      - SUMMARY_CREATE_URL=http://host.docker.internal:5000/api/summaries/create
      - SUMMARY_STATUS_UPDATE_URL=http://host.docker.internal:5000/api/summaries/summary-status/update
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      redis:
        condition: service_healthy
    restart: unless-stopped
    deploy:
      replicas: 2

volumes:
  redis_data:
